* {
    font-family: sans-serif;
    font-size: 10pt;
}

a, a:visited {
    color: blue;
}

table {
    border-collapse: collapse;
    border: 1px solid #222;
}

th {
    text-align: left;
    color: #eee;
    background-color: #222;
}

td, th {
    border: 1px solid #222;
    margin: 0;
    padding: 3px;
    vertical-align: top;
}

td, th {
    border: 0;
    border-left: 1px solid #222;
    border-right: 1px solid #222;
    vertical-align: middle;
    padding: 5px;
}

tr.hover {
    background-color: #eee;
}

pre {
    font-family: monospace;
}

.center-wrap {
    margin: 15px 10px;
    min-width: 760px;
    border: 1px solid #D0D0D0;
    -moz-box-shadow: 0 0 8px #D0D0D0;
    -webkit-box-shadow: 0 0 8px #D0D0D0;
    box-shadow: 0 0 8px #D0D0D0;
}

.edit-box {
    display: block;
    float: right;
    font-size: 8pt;
    margin-left: 12pt;
    cursor: pointer;
}

.edit-box:before {
    content: "[edit]";
}
